<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Tigra OSS Integration Builds" value="http://teamcity.tigra-astronomy.com:8111/guestAuth/app/nuget/feed/TigraOss/TigraOSS/v3/index.json" />
    <add key="Tigra MyGet Community Feed" value="https://www.myget.org/F/tigra-astronomy/api/v3/index.json" />
    <add key="NuGet official package feed" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
