@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron masthead">
    <h1>STAR QUEST</h1>
    <p class="lead">A practical observing programme from Tigra Astronomy</p>
    <p>
        <a href="http://monktonstargazers.mobilize.io/users/sign_up" class="btn btn-primary btn-lg" target="_blank">Join now &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Discover the night sky</h2>
        <p>
            The Starquest observing programme is designed to take you through observations of the night sky
            in order of difficulty, starting from simple observations of the Moon all the way through
            observing distant galaxies and nebulae.
        </p>
        <p>
            If you attend one of our courses in association with Monkton Stargazers, then we will help you work
            through the Foundation Mission at our public viewing evenings held at The Thanet Observatory,
            or you can work on your own if you prefer.
            <a href="http://monkton-reserve.org/monkton-stargazers" class="btn btn-primary btn-lg" target="_blank">About Monkton Stargazers &raquo;</a>
        </p>
        <h2>Record your observations in your personal observing log</h2>
        <p>
            Observations that you submit go into your observing log and form a record of your progress.
            To prevent cheating, observations must be approved by a Moderator so it will help to include plenty
            of notes and an accurate date, time and location. Once an observation is approved, you will score
            points and complete one of the challenges.
        </p>
        <p>
            You can submit more than one observation per challenge. Each approved observation awards points,
            but you can only complete each challenge and obtain each badge once.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Take on challenges</h2>
        <p>
        Starquest is structured into "Missions". Each level has a number of challenges of similar difficulty.
        Levels must be completed in order, but within each level you can choose whichever challenge you want
        to work on in any order.
        <p>
            The challenges are grouped into themes known as “tracks”. Completing a track awards a badge
            and a title and may unlock another level or even another mission!
        </p>
        <p>
            Completing one track also completes the level and unlocks the next level.
            Therefore, you can complete a level without completing all of the challenges.
            For the completionist, completing all challenges in all tracks in a
            mission awards a special “Legendary” title.
        </p>
        <h2>Keep track of your progress</h2>
        <p>
            As you submit observations and progress through the challenges and missions, you will
            receive email messages notifying you of your achievements. Most often, this will be when
            you score points or earn a badge, but you never know what could happen!
        </p>
        <p>
            You can view charts of your overall progress and other details of your achievements
            on your Profile page.
        </p>
    </div>
</div>