@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Starquest is owned and operated by Tigra Astronomy in the UK.</p>

<h2>Description of the Service</h2>
<p>
    Starquest is a web-based "gamification" system designed to promote practical astronomy and to support and track learning outcomes.
    It does this by offering "missions" consisting of one or more practical observing activities. Users record the results of their observations
    in a personal observing log and this is used to track progress through the missions.
    As missions are completed, the user may unlock "achievements" (usually in the form of "badges").
    Unlocking achievements and/or completing missions may result in access to additional missions.
</p>
<p>
    The service is free to use and offers no physical or monetary rewards. Use of the service confers no rights
    and the service comes with no service level commitments or guarantees of fitness for any purpose.
    It is offered solely for fun and entertainment and to promote user engagement in practical astronomy.
</p>
<h2>Data Protection and Privacy</h2>

<p>
    In plain English, we want to provide an entertaining and educational service. We invite users to participate, which involves
    creating a personal login account and submitting astronomical observations in order to progress through the system.
    Users are under no obligation to submit any information to the site, and any data they do submit we expect is given willingly
    and without obligation. We consider that we have your consent to use any such data in ways that we deem consistent
    with the aims and objectives of the site, and we expect you to understand that you have agreed to this.
</p>
<p>
    When you create an account to use this system, you are agreeing to this privacy policy and the the site's terms and conditions of service.
    By creating an account you are also giving Tigra Astronomy clear, unambiguous opt-in consent
    (as required by the General Data Protection Regulations) to store and process your personal information in accordance with this policy.
</p>

<p>
    Your data may be used in the following ways:
    <ul>
        <li>
            Your observation data will be stored in a database and used to assess learning outcomes
            in support of courses and events held by Monkton Stargazers.
        </li>
        <li>
            Your observation data will be used to award badges and unlock further "missions".
        </li>
        <li>
            Your email address will be used to send you notifications about your progress through missions,
            and to send you reminders for upcoming activities held by Monkton Stargazers.
        </li>
        <li>
            Your observation data may be reviewed by a site moderator (Moderators are appointed by the site administrators).
            The moderators have discretion as to whether any observation meets the requirements for progress through missions.
        </li>
    </ul>
</p>
<p>
    Your user account data and observation data will be retained as a historical record of your mission progress
    in perpetuity, unless:
    <ul>
        <li>
            You decide to delete your account, in which case your data (including user account data, email addresses,
            passwords and observation data) will be permanently and irrevocably deleted.
        </li>
        <li>
            A site administrator removes your account, in which case your data will be permanently and irrevocably deleted.
            If your account is removed as a result of your breach of the terms and conditions of use, then we reserve the right to add
            your details to a blacklist to prevent you from opening a new account in the future.
        </li>
        <li>
            Tigra Astronomy decides to retire the service, which it can do at its sole discretion at any time without notice,
            in which case all users' data will be deleted.
        </li>
    </ul>
</p>

<h2>Cookies, Analytics and Advertising</h2>
<p>
    Starquest uses only functional cookies that are strictly necessary for the correct operation of the site.
    We are not required to obtain your permission to use this type of cookie and no web site can work without them.
    For example, a cookie is used to store your authentication token which indicates that you have authenticated
    with the site and are a logged-in user.
    We may collect anonymous analytic data that tells us, for example,the number of users using the site and which pages
    are the most frequently visited. We also collect diagnostic logs on the server containing IP addresses and other
    network information that can be used (for example) to defend against malicious internet activity such as "DDoS"
    denial-of-service attacks on the site.
    We do not collect, store or share sales and marketing data.
</p>
<p>
    At launch, the site does not contain any advertising and currently we have no plans to introduce this.
    However, we reserve the right to add discrete advertisements in the future
    to offset our running costs, but we will notify all users by email prior to doing so, 
    giving a minimum of 7 calendar days' notice.
</p>

<p>
    Your data will not be passed to any third party except as specified above, unless we are required to 
    do so as a matter of law. The site is operated in accordance with the
    laws of The United Kingdom of Great Britain and Northern Ireland (UK).
</p>
