<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <targets async="true">
    <target xsi:type="Trace" name="DebugView"
            rawWrite="true"
            layout="BFT|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:fixedLength=true:alignmentOnTruncation=right:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}| ${message}" />
    <target xsi:type="File" name="LogFile"
            filename="${environment:variable=UserProfile}/logs/BeaconFinalTest-${filesystem-normalize:fSNormalize=true:inner=${shortdate}-${windows-identity}-${machinename}.log}"
            layout="${time}|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}|${message}" />

    <!--
    Logging to SEQ service.
    -->
    <target name="seq-osl" xsi:type="BufferingWrapper" bufferSize="1000"
            flushTimeout="500" slidingTimeout="false">
      <target xsi:type="Seq" serverUrl="http://seq.devops.oceansignal.com:5341" apiKey="iH0Mbr2WMgizM3UVwFYp" maxRecursionLimit="3">

        <!-- Augment the log data with some extra properties -->
        <property name="ProcessId" value="${processid}" />
        <property name="ProcessName" value="${processname}" />
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="Machine" value="${machinename}" />
        <property name="User" value="${environment-user}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="DebugView" />
    <logger name="*" minlevel="Trace" writeTo="seq-osl" />
  </rules>
</nlog>