@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
    {
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        For the purposes of General Data Protection Regulations (GDPR), may we have your consent to use non-essential cookies?
        Please <a asp-action="Privacy">review the privacy policy</a>
        and if you agree to our use of non-essential cookies, click the accept button.
        <button type="button" class="btn btn-success accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                }, false);
            })();
    </script>
    }